:root {
    --base-color: #FEFCF6;
    --base-variant: #777776;
    --text-color: #162A2C;
    --secondary-text: #777776;
    --primary-color: #FEFCF6;
    --accent-color: #207c25;
}

.note-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.note-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}