/* ---------- */
/* Base Reset */
/* ---------- */

:root {
    --base-color: #152A38;
    --base-variant: #D1D4C9;
    --text-color: #D1D4C9;
    --secondary-text: #556E53;
    --primary-color: #D1D4C9;
    --accent-color: #556E53;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
}

.content{
    display: grid;
    margin: auto;
    justify-content: center;
    max-width: 65%;
    align-items: center;
    text-align: center;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
        "header header"
        "sidebar main";
    height: 100vh;
}

header, nav, main, footer {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--base-color);
    font-size: large;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid var(--base-variant);
    object-fit: cover;
}

.profile-pic img {
    width: 100%;
    height: 100%;
}

.about-pic{
    width: 1024px;
    height: 576px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.cv-button {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--base-variant);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.cv-button:hover {
    background-color: var(--accent-color);
    color: var(--base-color);
}

/* ---------- */
/* Navigation */
/* ---------- */

nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5rem;
    list-style: none;
    margin-top: none;
    flex-wrap: wrap;
    size: 100px;
}

nav a {
    font-size: xx-large;
    color:var(--accent-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.5s;
    position: relative;
    padding: 0.5rem;
}

nav a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    height: 3px;
    width: 0;
    background-color: var(--base-variant);
    transition: width 0.5s ease;
}

nav a:hover::after {
    width: 100%;
}


/* ------------ */
/* Main Content */
/* ------------ */

main {
    background-color: var(--base-color);
    border-radius: 8px;
    padding: 2rem;
    margin-top: 2rem;
}

footer {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 2rem;
    color: var(--secondary-text);
}

/* ---------- */
/* Animations */
/* ---------- */

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ---------- */
/* Responsive */
/* ---------- */

@media (max-width: 600px) {
    .profile-pic {
        width: 90px;
        height: 90px;
    }

    nav ul {
    flex-direction: column;
    gap: 0.5rem;
    }

    main {
        padding: 1rem
    }
}

/* Scroll Fade In */

.fade-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease;
}

/* Entry Animation on Page Load */

body {
    opacity: 0;
    transition: 
        opacity 1s ease-in-out, 
        background-color 1s ease,  
        color 1s ease;
}

body.fade-out {
    opacity: 0;
}

body:not(.fade-out) {
    opacity: 1;
}

/* Dark Mode */

.darkmode {
    --base-color: #1a1a1a;
    --base-variant: #b9b9b9;
    --text-color: #ffffff;
    --secondary-text: #a4a5b8;
    --primary-color: #1e8449;
    --accent-color: #1e8449;
}

#theme-toggle {
    height: 50px;
    width: 50px;
    padding: 0;
    border: none;
    background-color: var(--base-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    transition: 
        background-color 1s ease,
        box-shadow 1s ease,
        border 1s ease;
    box-shadow: none;
}

#theme-toggle svg {
    fill: var(--primary-color);
}

#theme-toggle svg:last-child {
    display: none;
}

.darkmode #theme-toggle svg:first-child {
    display: none;
}

.darkmode #theme-toggle svg:last-child {
    display: block;
}

/* Styling for Word Blocks */

.text-spacing {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.subheading {
    font-size: larger;
}

.section-head {
    font-size: xx-large;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

/* Links */

a {
    color: var(--accent-color);
}

